<a href="https://colab.research.google.com/github/Juanconvar/Calculadora/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruits = ("apple", "banana", "cherry", "date", "fig", "grape")
print(fruits)
print("Número de elementos en la tupla:", len(fruits))

('apple', 'banana', 'cherry', 'date', 'fig', 'grape')
Número de elementos en la tupla: 6

In [2]:
fruits = ("apple", "banana", "cherry", "date", "fig", "grape")
print(fruits[2])

cherry

In [3]:
colors = ("red", "green", "blue")
color1, color2, color3 = colors
print(color1)
print(color2)
print(color3)

red
green
blue

In [4]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 4, 5, 6)

In [5]:
repeat_tuple = ("repeat",) * 4
print(repeat_tuple)

('repeat', 'repeat', 'repeat', 'repeat')

In [6]:
numbers = (10, 20, 30, 40, 50)
for number in numbers:
    print(number)

10
20
30
40
50

In [7]:
tuple1 = (1, 2, 3)
tuple2 = ("a", "b", "c")
nested_tuple = (tuple1, tuple2)
print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'))

In [8]:
letters = ("a", "b", "c", "d")
if "e" in letters:
    print("La letra 'e' está en la tupla.")
else:
    print("La letra 'e' no está en la tupla.")

La letra 'e' no está en la tupla.

In [9]:
my_list = [100, 200, 300, 400]
my_tuple = tuple(my_list)
print(my_tuple)

(100, 200, 300, 400)

In [10]:
my_tuple = (5, 10, 15, 20, 25, 30, 35)
print("Valor en el índice 2:", my_tuple[2])
print("Sub-tupla del índice 1 al 4:", my_tuple[1:5])

Valor en el índice 2: 15
Sub-tupla del índice 1 al 4: (10, 15, 20, 25)